In [2]:
import pandas as pd

In [5]:
a=pd.Series(['a','b','c','d','e','f'],index=[5,6,7,8,9,10])
a

5     a
6     b
7     c
8     d
9     e
10    f
dtype: object

In [6]:
a=pd.Series(['a','b','c','d','e','f'],index=[5,6,7,8,9,10],name='alphabets')
a

5     a
6     b
7     c
8     d
9     e
10    f
Name: alphabets, dtype: object

In [7]:
b=pd.Series(5)
b

0    5
dtype: int64

In [8]:
b=pd.Series(5,index=[1,2,3])
b

1    5
2    5
3    5
dtype: int64

In [18]:
data=pd.Series({'a':1 ,'b':2, 'c':3, 'd':4, 'e':5})
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [19]:
data[0]

C:\Users\Admin\AppData\Local\Temp\ipykernel_3540\1743741225.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data[0]

1

In [20]:
data[0:5]

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [21]:
max(data)

5

In [22]:
lst=[1,2,3,4,5]
df=pd.DataFrame(lst)
df

   0
0  1
1  2
2  3
3  4
4  5

In [23]:
df=pd.DataFrame([1,2,3,4,5])
df

   0
0  1
1  2
2  3
3  4
4  5

In [25]:
lst=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(lst)
df

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10